[submodule "home/.fzf"]
	path = home/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule "home/bin/zsh-fast-syntax-highlighting"]
	path = home/bin/zsh-fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
