[submodule "vim-scripts-AutoTag"]
	path = home/.vim/bundle/vim-scripts-AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "sjbach-lusty"]
	path = home/.vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-git"]
	path = home/.vim/bundle/vim-git
	url = https://github.com/tpope/vim-git
[submodule "vim-scripts-lastpos"]
	path = home/.vim/bundle/vim-scripts-lastpos
	url = https://github.com/vim-scripts/lastpos.vim
[submodule "mileszs-ack"]
	path = home/.vim/bundle/mileszs-ack
	url = https://github.com/mileszs/ack.vim
[submodule "kogakure-vim-sparkup"]
	path = home/.vim/bundle/kogakure-vim-sparkup
	url = https://github.com/kogakure/vim-sparkup.git
[submodule "vim-scripts-ZoomWin"]
	path = home/.vim/bundle/vim-scripts-ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "dterei-VimBookmarking"]
	path = home/.vim/bundle/VimBookmarking
	url = https://github.com/dterei/VimBookmarking
[submodule "chrismetcalf-vim-yankring"]
	path = home/.vim/bundle/chrismetcalf-vim-yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "home/.vim/bundle/mru.vim"]
	path = home/.vim/bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "home/.vim/bundle/vim-showmarks"]
	path = home/.vim/bundle/vim-showmarks
	#url = https://github.com/garbas/vim-showmarks
	#url = https://github.com/jacquesbh/vim-showmarks.git
	url = https://github.com/zakj/vim-showmarks.git
[submodule "home/.fzf"]
	path = home/.fzf
	url = https://github.com/junegunn/fzf.git
