snippet header_tmpl "Header template"
#ifndef $2`!p snip.rv = snip.basename.upper()`_H_INCLUDED
#define $2`!p snip.rv = snip.basename.upper()`_H_INCLUDED

$1

#endif // $2`!p snip.rv = snip.basename.upper()`_H_INCLUDED
endsnippet
